{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Your ToDo List! {% endblock %}</h1>
    {% for post in posts %}
    <div class="formContainer">
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
        </a>

        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Mark as Complete <br>or Edit</span>
        </a>
        
        <div id="break"></div>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        
        <hr>
    </div>
    {% endfor %}
{% endblock %}